---
import PaperBG from "../PaperBG.astro";
---

<div class="h-screen w-full p-8 px-32 pb-20">
  <div class="relative grid h-full place-items-center">
    <div class="absolute inset-0 -z-1">
      <PaperBG />
    </div>
    <p class="split | max-w-[30ch] text-center text-5xl leading-tight">
      I aim to develop intuitive and user-centric software solutions that bridge
      the gap between technology and human needs, ultimately fostering engaging
      and meaningful interactions.
    </p>
  </div>
</div>

<script>
  import { gsap } from "gsap";

  import { SplitText } from "gsap/SplitText";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(SplitText, ScrollTrigger);
  SplitText.create(".split", {
    type: "lines,words",
    autoSplit: true,
    onSplit: (self) => {
      gsap.set(self.words, { opacity: "20%" });
      gsap.to(self.words, {
        scrollTrigger: {
          trigger: ".split",
          start: "bottom bottom",
          end: "center center",
          scrub: true,
        },
        opacity: 1,
        stagger: 1,
      });
      return gsap.from(self.lines, {
        scrollTrigger: {
          trigger: ".split",
          start: "bottom bottom",
          end: "center center",
          scrub: true,
        },

        y: 100,
        opacity: 0,
        stagger: 0.05,
      });
    },
  });
</script>
