---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Sections/Hero.astro";
import Section2 from "../components/Sections/Section2.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <Section2 />
  <section class="w-full h-screen bg-red-200">TEST</section>
</Layout>
