---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import Section2 from "../components/Sections/Section2.astro";
import WorkCard from "../components/WorkCard.astro";
import About from "../components/Sections/About.astro";
---

<Layout>
  <Hero />
  <About />
  <Section2 />
  <!-- <section class="h-screen bg-red-400">TEST</section>   -->
  <div id="works" class="relative">
    <div>
      <WorkCard
        title="BlockVault"
        subTitle="Estonia, Self-funded"
        description="A secure platform for cryptocurrency users to earn interest, borrow, and exchange digital assets. With enhanced infrastructure, users can protect their investments while engaging in the decentralized finance (DeFi) ecosystem."
        imgSrc="test.avif"
      />
    </div>
    <div>
      <WorkCard
        title="TaskFlow"
        subTitle="USA, Venture Capital"
        description="Revolutionize how teams manage tasks and deadlines by integrating real-time project tracking, AI-assisted insights, and seamless communication. Stay focused with context-aware notifications and updates to enhance collaboration."
        imgSrc="https://framerusercontent.com/images/gYQDgKjRc49WkzJYlfnusNLSObo.png"
      />
    </div>
    <div>
      <WorkCard
        title="DisputeFox"
        subTitle="Switzerland, Angel Investors"
        description="A decentralized platform designed for secure crypto asset management, allowing users to buy, sell, and borrow digital assets while ensuring top-tier protection and compliance with privacy regulations."
        imgSrc="https://framerusercontent.com/images/qMJ1eOGI6KqH3EjLwj4wTqRUT0.png"
      />
    </div>
    <div>
      <WorkCard
        title="MindLink"
        subTitle="Singapore, Self-funded "
        description="A platform to help users connect, share knowledge, and collaborate on ideas with the help of AI-powered insights. Users can join conversations, brainstorm, and access curated content tailored to their professional and personal interests."
        imgSrc="https://framerusercontent.com/images/RdBu5uyrv7rEdbWwTGPkXqBmWMo.png"
      />
    </div>
    <div>
      <WorkCard
        title="NoteSphere"
        subTitle="Dubai, Angel Investors"
        description="Streamline your workflow by capturing, organizing, and sharing notes seamlessly. Collaborate with peers in real-time and enhance productivity using integrated AI suggestions for note-taking and task management."
        imgSrc="https://framerusercontent.com/images/RUGOoLXzHgBmYNmtj1CGsCpb2tc.png"
      />
    </div>
  </div>
  <section class="h-screen bg-red-400">TEST</section>  
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const workCards = gsap.utils.toArray(".work-card") as HTMLElement[];
  const lastWorkCard = workCards[workCards.length - 1];

  workCards.forEach((card, index) => {
      ScrollTrigger.create({
          trigger: card,
          start: "top top", 
          end: "top top",
          endTrigger: lastWorkCard,
          scrub: true,
          pinSpacing:false,
          pin: true,
          markers: true,
          id: `work-card-${index + 1}`
      });
});
</script>
