---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import Section2 from "../components/Sections/Section2.astro";
import WorkCard from "../components/WorkCard.astro";
import About from "../components/Sections/About.astro";
import Works from "../components/Sections/Works.astro";
---

<Layout>
  <Hero />
  <About />
  <!-- <Section2 /> -->
  <!-- <Works /> -->
  <!-- <section class="h-screen bg-red-400">TEST</section> -->
</Layout>
