---
const { size = "xl" } = Astro.props;
const sizeC = `text-${size}`;
---

<button
  class=`bg-orange-gr text-white rounded-xl px-6 py-3 font-semibold flex gap-2 self-start ${sizeC}`
>
  <slot />
</button>

<style>
  @property --myColor3 {
    syntax: "<color>";
    initial-value: rgb(255, 129, 19);
    inherits: false;
  }

  @property --myColor4 {
    syntax: "<color>";
    initial-value: rgb(255, 159, 56);
    inherits: false;
  }
  .bg-orange-gr {
    background: linear-gradient(var(--myColor3) 0%, var(--myColor4) 100%);
    box-shadow:
      rgba(255, 129, 19, 0.02) 0px 72px 29px 0px,
      rgba(255, 129, 19, 0.08) 0px 40px 24px 0px,
      rgba(255, 129, 19, 0.14) 0px 18px 18px 0px,
      rgba(255, 129, 19, 0.17) 0px 4px 10px 0px;

    transition:
      --myColor3 0.5s,
      --myColor4 0.5s;
  }
  .bg-orange-gr:hover {
    --myColor3: rgb(255, 159, 56);
    --myColor4: rgb(255, 129, 19);
  }
</style>
