<div
  class="fixed top-5 left-1/2 z-100 w-full max-w-[800px] translate-x-[-50%] px-5 md:top-[40px] md:px-7"
>
  <nav
    class="gray-gradient navbar | flex w-full items-center justify-between rounded-[20px] px-6 py-4 font-[500] text-black"
  >
    <a href="/">
      <div class="size-10 rounded-full bg-orange-400"></div>
    </a>
    <div class="flex gap-8 max-md:hidden">
      <a href="#about">About</a>
      <a href="#works">Works</a>
      <a href="#services">Services</a>
      <a href="#testimonials">Testimonials</a>
    </div>
  </nav>
</div>

<style>
  .navbar {
    border: 1px solid rgb(201, 201, 201, 1);
    box-shadow:
      inset 0 -4px 0.5px #bcbcbc4d,
      inset 0 2px 0.5px 0 var(--color-white);
  }
</style>
