<div id="box-container1" class="box-container">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="226"
    height="63"
    viewBox="0 0 226 63"
    fill="none"
  >
    <g clip-path="url(#clip0_18_772)">
      <g filter="url(#filter0_ii_18_772)">
        <path
          d="M213 1H13C6.37258 1 1 6.37258 1 13V50C1 56.6274 6.37258 62 13 62H213C219.627 62 225 56.6274 225 50V13C225 6.37258 219.627 1 213 1Z"
          fill="url(#paint0_linear_18_772)"></path>
      </g>
      <path
        d="M213 0.5H13C6.09644 0.5 0.5 6.09644 0.5 13V50C0.5 56.9036 6.09644 62.5 13 62.5H213C219.904 62.5 225.5 56.9036 225.5 50V13C225.5 6.09644 219.904 0.5 213 0.5Z"
        stroke="url(#paint1_linear_18_772)"></path>
      <g filter="url(#filter1_i_18_772)">
        <path
          d="M54.5668 42H49.8262L58.4575 17.4828H63.9404L72.5836 42H67.843L61.2947 22.5108H61.1032L54.5668 42ZM54.7225 32.3871H67.6514V35.9545H54.7225V32.3871ZM73.2615 48.8955V23.6121H77.5233V26.6528H77.7747C77.9982 26.2059 78.3134 25.731 78.7204 25.2282C79.1275 24.7175 79.6781 24.2825 80.3725 23.9234C81.0668 23.5563 81.9527 23.3727 83.0301 23.3727C84.4507 23.3727 85.7316 23.7358 86.8729 24.4621C88.0221 25.1804 88.9319 26.2458 89.6023 27.6584C90.2807 29.063 90.6199 30.7869 90.6199 32.83C90.6199 34.8492 90.2887 36.565 89.6263 37.9777C88.9639 39.3903 88.062 40.4677 86.9208 41.2099C85.7795 41.9521 84.4866 42.3232 83.0421 42.3232C81.9886 42.3232 81.1147 42.1476 80.4204 41.7965C79.726 41.4453 79.1674 41.0223 78.7444 40.5275C78.3294 40.0247 78.0062 39.5499 77.7747 39.103H77.5951V48.8955H73.2615ZM77.5113 32.8061C77.5113 33.9952 77.6789 35.0367 78.0141 35.9306C78.3573 36.8244 78.8481 37.5227 79.4866 38.0255C80.1331 38.5203 80.9152 38.7678 81.833 38.7678C82.7907 38.7678 83.5928 38.5124 84.2392 38.0016C84.8857 37.4828 85.3725 36.7765 85.6997 35.8827C86.0349 34.9808 86.2025 33.9553 86.2025 32.8061C86.2025 31.6648 86.0389 30.6512 85.7117 29.7654C85.3845 28.8795 84.8976 28.1851 84.2512 27.6824C83.6047 27.1796 82.7987 26.9282 81.833 26.9282C80.9072 26.9282 80.1211 27.1716 79.4746 27.6584C78.8282 28.1452 78.3374 28.8276 78.0022 29.7055C77.675 30.5834 77.5113 31.6169 77.5113 32.8061ZM91.9712 48.8955V23.6121H96.233V26.6528H96.4844C96.7078 26.2059 97.0231 25.731 97.4301 25.2282C97.8371 24.7175 98.3878 24.2825 99.0821 23.9234C99.7765 23.5563 100.662 23.3727 101.74 23.3727C103.16 23.3727 104.441 23.7358 105.582 24.4621C106.732 25.1804 107.641 26.2458 108.312 27.6584C108.99 29.063 109.329 30.7869 109.329 32.83C109.329 34.8492 108.998 36.565 108.336 37.9777C107.673 39.3903 106.771 40.4677 105.63 41.2099C104.489 41.9521 103.196 42.3232 101.752 42.3232C100.698 42.3232 99.8244 42.1476 99.13 41.7965C98.4357 41.4453 97.877 41.0223 97.4541 40.5275C97.039 40.0247 96.7158 39.5499 96.4844 39.103H96.3048V48.8955H91.9712ZM96.221 32.8061C96.221 33.9952 96.3886 35.0367 96.7238 35.9306C97.067 36.8244 97.5578 37.5227 98.1963 38.0255C98.8427 38.5203 99.6248 38.7678 100.542 38.7678C101.5 38.7678 102.302 38.5124 102.949 38.0016C103.595 37.4828 104.082 36.7765 104.409 35.8827C104.744 34.9808 104.912 33.9553 104.912 32.8061C104.912 31.6648 104.748 30.6512 104.421 29.7654C104.094 28.8795 103.607 28.1851 102.961 27.6824C102.314 27.1796 101.508 26.9282 100.542 26.9282C99.6169 26.9282 98.8307 27.1716 98.1843 27.6584C97.5379 28.1452 97.047 28.8276 96.7118 29.7055C96.3846 30.5834 96.221 31.6169 96.221 32.8061ZM115.014 17.4828V42H110.681V17.4828H115.014ZM117.111 42V23.6121H121.444V42H117.111ZM119.29 21.0024C118.603 21.0024 118.013 20.7749 117.518 20.32C117.023 19.8571 116.776 19.3025 116.776 18.656C116.776 18.0016 117.023 17.4469 117.518 16.992C118.013 16.5291 118.603 16.2977 119.29 16.2977C119.984 16.2977 120.574 16.5291 121.061 16.992C121.556 17.4469 121.804 18.0016 121.804 18.656C121.804 19.3025 121.556 19.8571 121.061 20.32C120.574 20.7749 119.984 21.0024 119.29 21.0024ZM131.562 42.3591C129.726 42.3591 128.15 41.9561 126.833 41.15C125.524 40.344 124.515 39.2306 123.804 37.8101C123.102 36.3815 122.751 34.7374 122.751 32.8779C122.751 31.0104 123.11 29.3623 123.828 27.9338C124.547 26.4972 125.56 25.3799 126.869 24.5818C128.186 23.7757 129.742 23.3727 131.538 23.3727C133.03 23.3727 134.351 23.648 135.5 24.1987C136.657 24.7414 137.579 25.5116 138.266 26.5092C138.952 27.4988 139.343 28.656 139.439 29.9808H135.297C135.129 29.095 134.73 28.3567 134.1 27.7662C133.477 27.1676 132.643 26.8683 131.598 26.8683C130.712 26.8683 129.934 27.1077 129.263 27.5866C128.593 28.0575 128.07 28.7358 127.695 29.6217C127.328 30.5076 127.144 31.569 127.144 32.8061C127.144 34.0591 127.328 35.1365 127.695 36.0383C128.062 36.9322 128.577 37.6225 129.239 38.1093C129.91 38.5882 130.696 38.8276 131.598 38.8276C132.236 38.8276 132.807 38.7079 133.309 38.4685C133.82 38.2211 134.247 37.8659 134.59 37.403C134.934 36.9401 135.169 36.3775 135.297 35.7151H139.439C139.335 37.016 138.952 38.1692 138.29 39.1748C137.627 40.1724 136.725 40.9545 135.584 41.5211C134.443 42.0798 133.102 42.3591 131.562 42.3591ZM145.929 42.3711C144.764 42.3711 143.714 42.1636 142.78 41.7486C141.855 41.3256 141.12 40.7031 140.578 39.8811C140.043 39.0591 139.776 38.0455 139.776 36.8404C139.776 35.8029 139.967 34.9449 140.35 34.2666C140.733 33.5882 141.256 33.0455 141.918 32.6385C142.581 32.2314 143.327 31.9242 144.157 31.7167C144.995 31.5012 145.861 31.3456 146.755 31.2498C147.832 31.1381 148.706 31.0383 149.376 30.9505C150.047 30.8547 150.534 30.7111 150.837 30.5195C151.148 30.32 151.304 30.0128 151.304 29.5978V29.5259C151.304 28.6241 151.037 27.9258 150.502 27.431C149.967 26.9361 149.197 26.6887 148.191 26.6887C147.13 26.6887 146.288 26.9202 145.665 27.3831C145.051 27.846 144.636 28.3927 144.42 29.0231L140.374 28.4485C140.693 27.3312 141.22 26.3974 141.954 25.6472C142.689 24.8891 143.586 24.3224 144.648 23.9473C145.709 23.5642 146.882 23.3727 148.167 23.3727C149.053 23.3727 149.935 23.4764 150.813 23.6839C151.691 23.8915 152.493 24.2346 153.219 24.7135C153.946 25.1843 154.528 25.8268 154.967 26.6409C155.414 27.4549 155.637 28.4725 155.637 29.6935V42H151.471V39.4741H151.328C151.064 39.9848 150.693 40.4637 150.214 40.9106C149.744 41.3496 149.149 41.7047 148.431 41.9761C147.72 42.2394 146.886 42.3711 145.929 42.3711ZM147.054 39.1868C147.924 39.1868 148.678 39.0152 149.317 38.672C149.955 38.3208 150.446 37.8579 150.789 37.2833C151.14 36.7087 151.316 36.0822 151.316 35.4038V33.237C151.18 33.3488 150.949 33.4525 150.622 33.5483C150.302 33.644 149.943 33.7278 149.544 33.7997C149.145 33.8715 148.75 33.9354 148.359 33.9912C147.968 34.0471 147.629 34.095 147.341 34.1349C146.695 34.2227 146.116 34.3663 145.606 34.5658C145.095 34.7654 144.692 35.0447 144.396 35.4038C144.101 35.755 143.954 36.2099 143.954 36.7686C143.954 37.5666 144.245 38.1692 144.827 38.5762C145.41 38.9832 146.152 39.1868 147.054 39.1868ZM166.817 23.6121V26.9641H156.247V23.6121H166.817ZM158.856 19.2067H163.19V36.4693C163.19 37.0519 163.278 37.4988 163.453 37.8101C163.637 38.1133 163.876 38.3208 164.172 38.4326C164.467 38.5443 164.794 38.6002 165.153 38.6002C165.425 38.6002 165.672 38.5802 165.895 38.5403C166.127 38.5004 166.302 38.4645 166.422 38.4326L167.152 41.8204C166.921 41.9002 166.59 41.988 166.159 42.0838C165.736 42.1796 165.217 42.2354 164.603 42.2514C163.517 42.2833 162.539 42.1197 161.67 41.7606C160.8 41.3935 160.109 40.8268 159.599 40.0607C159.096 39.2945 158.848 38.3368 158.856 37.1875V19.2067ZM168.082 42V23.6121H172.415V42H168.082ZM170.261 21.0024C169.574 21.0024 168.984 20.7749 168.489 20.32C167.994 19.8571 167.747 19.3025 167.747 18.656C167.747 18.0016 167.994 17.4469 168.489 16.992C168.984 16.5291 169.574 16.2977 170.261 16.2977C170.955 16.2977 171.545 16.5291 172.032 16.992C172.527 17.4469 172.774 18.0016 172.774 18.656C172.774 19.3025 172.527 19.8571 172.032 20.32C171.545 20.7749 170.955 21.0024 170.261 21.0024ZM182.533 42.3591C180.737 42.3591 179.181 41.9641 177.864 41.174C176.547 40.3839 175.525 39.2785 174.799 37.8579C174.081 36.4373 173.722 34.7773 173.722 32.8779C173.722 30.9784 174.081 29.3144 174.799 27.8859C175.525 26.4573 176.547 25.348 177.864 24.5579C179.181 23.7677 180.737 23.3727 182.533 23.3727C184.328 23.3727 185.885 23.7677 187.201 24.5579C188.518 25.348 189.536 26.4573 190.254 27.8859C190.98 29.3144 191.343 30.9784 191.343 32.8779C191.343 34.7773 190.98 36.4373 190.254 37.8579C189.536 39.2785 188.518 40.3839 187.201 41.174C185.885 41.9641 184.328 42.3591 182.533 42.3591ZM182.557 38.8875C183.53 38.8875 184.344 38.6201 184.999 38.0854C185.653 37.5427 186.14 36.8164 186.459 35.9066C186.786 34.9968 186.95 33.9832 186.95 32.8659C186.95 31.7406 186.786 30.7231 186.459 29.8132C186.14 28.8954 185.653 28.1652 184.999 27.6225C184.344 27.0798 183.53 26.8085 182.557 26.8085C181.559 26.8085 180.729 27.0798 180.067 27.6225C179.412 28.1652 178.921 28.8954 178.594 29.8132C178.275 30.7231 178.115 31.7406 178.115 32.8659C178.115 33.9832 178.275 34.9968 178.594 35.9066C178.921 36.8164 179.412 37.5427 180.067 38.0854C180.729 38.6201 181.559 38.8875 182.557 38.8875ZM196.995 31.2259V42H192.662V23.6121H196.804V26.7366H197.019C197.442 25.7071 198.117 24.8891 199.043 24.2825C199.976 23.676 201.13 23.3727 202.502 23.3727C203.771 23.3727 204.877 23.644 205.818 24.1867C206.768 24.7294 207.502 25.5156 208.021 26.5451C208.548 27.5746 208.807 28.8236 208.799 30.2921V42H204.466V30.9625C204.466 29.7334 204.146 28.7717 203.508 28.0774C202.877 27.3831 202.003 27.0359 200.886 27.0359C200.128 27.0359 199.454 27.2035 198.863 27.5387C198.28 27.8659 197.822 28.3408 197.486 28.9633C197.159 29.5858 196.995 30.34 196.995 31.2259Z"
          fill="url(#paint2_linear_18_772)"></path>
      </g>
      <g filter="url(#filter2_i_18_772)">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M31.0022 46C34.1823 46 37.2323 44.6855 39.482 42.3454C41.7318 40.0053 42.9971 36.831 43 33.5201C43.0044 26.782 36.0827 19.0386 32.7579 14.8961C32.5503 14.6172 32.2842 14.3914 31.9798 14.2361C31.6755 14.0808 31.3411 14 31.0022 14C30.6633 14 30.3289 14.0808 30.0245 14.2361C29.7202 14.3914 29.4541 14.6172 29.2465 14.8961C25.9283 19.0386 19 26.5787 19 33.5201C19.0035 36.8316 20.2696 40.0062 22.5201 42.3464C24.7707 44.6865 27.8215 46.0006 31.0022 46ZM34.395 40.4249C32.9596 41.3331 31.2731 41.7135 29.6054 41.5054C27.9377 41.2973 26.3853 40.5126 25.1968 39.277C24.0082 38.0414 23.2522 36.4263 23.0498 34.6903C22.8474 32.9543 23.2104 31.1978 24.0805 29.7021C24.2092 29.5046 24.3798 29.3404 24.5789 29.2222C24.7781 29.104 25.0006 29.0348 25.2295 29.02C25.4583 29.0052 25.6873 29.0452 25.899 29.1369C26.1107 29.2286 26.2994 29.3696 26.4506 29.549L34.5377 37.955C34.7117 38.1113 34.8487 38.3072 34.9383 38.5275C35.0279 38.7478 35.0675 38.9867 35.0541 39.2255C35.0408 39.4643 34.9747 39.6968 34.8612 39.9048C34.7477 40.1128 34.5897 40.2907 34.3994 40.4249H34.395Z"
          fill="url(#paint3_linear_18_772)"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_ii_18_772"
        x="1"
        y="0.5"
        width="224"
        height="62"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="2"></feOffset>
        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
        ></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"></feColorMatrix>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_18_772"
        ></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="-3.5"></feOffset>
        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
        ></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.232337 0 0 0 0 0.893066 0 0 0 0 0.672823 0 0 0 0.3 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_innerShadow_18_772"
          result="effect2_innerShadow_18_772"></feBlend>
      </filter>
      <filter
        id="filter1_i_18_772"
        x="49.8262"
        y="16.2977"
        width="158.973"
        height="33.0978"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="0.7"></feOffset>
        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
        ></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0283029 0 0 0 0 0.781543 0 0 0 0 0.533366 0 0 0 1 0"
        ></feColorMatrix>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_18_772"
        ></feBlend>
      </filter>
      <filter
        id="filter2_i_18_772"
        x="19"
        y="14"
        width="24"
        height="32.5"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="0.7"></feOffset>
        <feGaussianBlur stdDeviation="0.25"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
        ></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0283029 0 0 0 0 0.781543 0 0 0 0 0.533366 0 0 0 1 0"
        ></feColorMatrix>
        <feBlend mode="normal" in2="shape" result="effect1_innerShadow_18_772"
        ></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_18_772"
        x1="113"
        y1="1"
        x2="113"
        y2="62"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#D8FFEF"></stop>
        <stop offset="1" stop-color="#AAFFE0"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_18_772"
        x1="113"
        y1="1"
        x2="113"
        y2="62"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#60CAAC" stop-opacity="0.25"></stop>
        <stop offset="1" stop-color="#60CAAC"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_18_772"
        x1="130"
        y1="9"
        x2="130"
        y2="50"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#33E0A7" stop-opacity="0.25"></stop>
        <stop offset="1" stop-color="#33E0A7"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_18_772"
        x1="31"
        y1="14"
        x2="31"
        y2="46"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#33E0A7" stop-opacity="0.25"></stop>
        <stop offset="1" stop-color="#33E0A7"></stop>
      </linearGradient>
      <clipPath id="clip0_18_772">
        <rect width="226" height="63" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
</div>

<script>
  import { gsap } from "gsap";

  import { Draggable } from "gsap/Draggable";

  gsap.registerPlugin(Draggable);
  Draggable.create("#box-container1", {
    bounds: document.getElementById("card-container"),
    inertia: true,
  });
</script>
